/* Import Google Font - Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
:root {
  --main-color: #00ffff;
  --secondary-color:#ff00f28a;
  --third-color: #575757;
} 

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--main-color);
}

.wrapper {
 margin: 50px;
 display: grid;
 grid-template-columns: repeat(auto-fill, 265px);
 gap: 15px;
}

.wrapper li {
  height: 250px;
  list-style: none;
  background-color: #fff;
  border-radius: 5px;
  padding: 15px 20px 20px;
}
.add-box {
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.add-box, .icon, .bottom-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-box .icon {
  border: 2px dashed var(--main-color);
  border-radius: 50%;
  height: 80px;
  width: 80px;
  font-size: 40px;
  justify-content: center;
}

#plusIcon {
  color: var(--secondary-color);
}

.add-box p {
  margin-top: 20px;
  color: var(--secondary-color);
  font-weight: bolder;
  font-size: 20px;
}

.note {
  display: flex;
  justify-content: column;
  justify-content: space-between;
}

.note .details {
  max-height: 165px;
  overflow-y: auto;
}

.wrapper .note {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.note p {
  font-size: 22px;
  font-weight: bolder;
  color: var(--secondary-color);
}

.note span {
  display: block;
  margin-top: 7px;
  color: var(--third-color);
  font-size: 16px;
}

.note .bottom-content       {
  padding-top: 10px;
  border-top: 1px solid #ccc;
}

.bottom-content span {
  color: var(--secondary-color);
  font-size: 14px;
}

.bottom-content .settings i {
  color: var(--third-color);
  font-size: 15px;
  cursor: pointer;
}