/* Import Google Font - Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
:root {
  --main-color: #00ffff;
  --secondary-color:#ff00f28a;
  --third-color: #575757;
  --background-color: #fff;
} 

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--main-color);
}

.wrapper {
 margin: 50px;
 display: grid;
 grid-template-columns: repeat(auto-fill, 265px);
 gap: 15px;
}

.wrapper li {
  height: 250px;
  list-style: none;
  background-color: var(--background-color);
  border-radius: 5px;
  padding: 15px 20px 20px;
}
.add-box {
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.add-box, .icon, .bottom-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-box .icon {
  border: 2px dashed var(--main-color);
  border-radius: 50%;
  height: 80px;
  width: 80px;
  font-size: 40px;
  justify-content: center;
}

#plusIcon {
  color: var(--secondary-color);
}

.add-box p {
  margin-top: 20px;
  color: var(--secondary-color);
  font-weight: bolder;
  font-size: 20px;
}

.note {
  display: flex;
  justify-content: column;
  justify-content: space-between;
}

.note .details {
  max-height: 165px;
  overflow-y: auto;
}

.wrapper .note {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.note p {
  font-size: 22px;
  font-weight: bolder;
  color: var(--secondary-color);
}

.note span {
  display: block;
  margin-top: 5px;
  color: var(--third-color);
  font-size: 16px;
}

.note .bottom-content       {
  padding-top: 10px;
  border-top: 1px solid #ccc;
}

.bottom-content span {
  color: var(--secondary-color);
  font-size: 14px;
}

.bottom-content .settings {
  position: relative;
}

.bottom-content .settings i {
  color: var(--third-color);
  font-size: 15px;
  cursor: pointer;
}

.settings .menu {
  z-index: 1;
  bottom: 0;
  right: -5px;
  padding: 5px 0;
  background: var(--background-color);
  position: absolute;
  border-radius: 5px;
  transform: scale(0);
  transform-origin: bottom right;
  box-shadow: 0 0 6px rgba(0,0,0,0.15);
  transition: transform 0.2s ease;
}

.settings .show .menu {
  transform: scale(1);
}

.settings .menu li {
  height: 25px;
  font-size: 15px;
  margin-bottom: 2px;
  padding: 17px 15px;
  cursor: pointer;
  box-shadow: none;
  border-radius: 0;
  justify-content: flex-start;  
}

.menu li:last-child{
  margin-bottom: 0;
}
.menu li:hover{
  background: var(--background-color);
}
.menu li i{
  padding-right: 8px;
}