/* Import Google Font - Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: aqua;
}

.wrapper {
 margin: 50px;
 display: grid;
 grid-template-columns: repeat(auto-fill, 265px);
 gap: 15px;
}

.wrapper li {
  height: 250px;
  list-style: none;
  background-color: #fff;
  border-radius: 5px;
  padding: 15px 20px 20px;
}

.add-box, .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.add-box .icon {
  border: 2px dashed aqua;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  font-size: 40px;
}